option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  aws:ec2:instances:
    InstanceTypes: t4g.small

  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: dev
    PORT: "8080"

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: "7"

  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    Timeout: "1800"
